body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

/* Header */

/* Header Section */
.h-section{
    width: 100%;
    height: 62px;
    border-bottom: solid 2px #dedede;
    background-color: #f5f5f5;
    text-align: center;
}
.h-section div{
    display: inline-block;
    width: 7%;
    height: 100%;
    padding:5px 0;
    border-right: solid 2px #dedede;
    vertical-align: top;
}
.h-section img{
    width: 80%;
    margin: 0 auto;
}
.h-section div:nth-child(4){
    width: 41%;
    padding: 0px;
    border: 0;
}
.h-section>div>div{
    width: 32%;
    border: 0;
}
.h-section>div>div>img{
    width: 95%;
    height: 100%;
}
.h-section-active{
    box-shadow: 0 0 7px 1px #666666;
    border-right: 0;
    border-left: 0;
    background-color: #fff;
}
/* Header Nav */
.h-nav{
    width: 100%;
    height: 87px;
    background: #FFF;
    border-bottom: 2px solid #f0f0f0;
    text-align: center;
    font: 0.8rem Arial, Helvetica, sans-serif;
    color: black;
    position:fixed;
    top: 7.5%;  
    z-index: 50;
    transition: top 0.1s ease;
}
.h-nav>div{
    display: inline-block;
    width: 9%;
    height: 100%;
    background:  no-repeat center 25%;
    background-size: 30px;
    padding: 0px 25px;
    vertical-align: top;
    margin-right:-4px;
    border:6px solid red;
    border-width:0px 0px 5px 0px;
}
.h-nav p{
    position:relative;
    top:57%;
}
.h-nav div:hover{
    color:white;
}
.h-nav .home{
    background-color: #919191;
    background-image: url(Images/pokemon-white.png);
    border-radius: 0px 0px 0px 10px;
    color: white;
    border: none;
}
.h-nav .pokedox{
    background-image: url(Images/pokeball-grey.png);
    border-color:#E3350D ;
}
.h-nav .pokedox:hover{
    background-image: url(Images/pokeball-white-.png);
    background-color:#E3350D ;
}
.h-nav .video-game{
    background-image: url(Images/video-game-grey.png);
    border-color: #EE6B2F;
}
.h-nav .video-game:hover{
    background-image: url(Images/video-game-white.png);
    background-color: #EE6B2F;
}
.h-nav .tra-cards{
    background-image: url(Images/cards-grey.png);
    border-color: #E6BC30;
}
.h-nav .tra-cards:hover{
    background-image: url(Images/cards-white.png);
    background-color: #E6BC30;
}
.h-nav .animations{
    background-image: url(Images/animation-grey.png);
    border-color:#4DAD5B ;
}
.h-nav .animations:hover{
    background-image: url(Images/animation-white.png);
    background-color:#4DAD5B ;
}
.h-nav .events{
    background-image: url(Images/trophy-grey.png);
    border-color:#30A7D7 ;
}
.h-nav .events:hover{
    background-image: url(Images/trophy-white.png);
    background-color:#30A7D7 ;
}
.h-nav .news{
    background-image: url(Images/news-grey.png);
    border-color:#1B53BA ;
}
.h-nav .news:hover{
    background-image: url(Images/news-white.png) ;
    background-color:#1B53BA ;
}
/* Header Ends */
/* Main */
main{
    width: 100%;
    height:2535px;
    margin-top: 85px;
    background-image: url(Images/body_bg.png); 
}
/* Body */
.body{
    box-sizing:content-box;
    width:82%;
    height: 99%;
    margin:0px  auto;
    background-color: white;
    background-image: url(Images/container_bg.png);
}
.search-bar{
    position:fixed;
    width:60px;
    height: 190px;
    margin-top: 30px;
    text-align: center;
    color: white;
    z-index: 5;
    font: 0.8rem Arial, Helvetica, sans-serif;
}
.search-bar .profile{
    width: 100%;
    height: 65%;
    border: 2px solid black;
    border-bottom: 0px;
    border-left: 0px;
    border-top-right-radius: 15px;
    background-color:#4DAD5B;  
}
.search-bar .profile:hover{
    background-color: #369143;
}
.profile img,.search img{
    width:60%;
    position: relative;
    top: 20%;
}
.profile p{
    margin-top: 25px;
}
.search-bar .search{
    width: 100%;
    height: calc(100% - 65%);
    border: 2px solid black;
    border-top: 0px;
    border-left: 0px;
    border-bottom-right-radius: 15px;
    background-color: rgb(96, 102, 96);
}
.search-bar .search:hover{
    background-color: #30A7D7;
}
/* Big cars section */
.b-card-sec{
    width:75%;
    height: 830px;
    background-color:inherit;
    margin:0px auto;
    padding: 30px 15px 15px 15px ;
    font: 23px Arial;
    color: white;
}
/* For all Card boder radius, images radius, padding , moving effect*/
.b-card-sec>div{
    border-radius:4px;
}
.b-card-sec>div>div:nth-child(2){
    padding:15px ;
}
.b-card-sec>div:hover{
    position: relative;
    bottom:5px;
    transition:0.5s ease;
}
.b-card-sec .card-image{
    width: 100%;
    height: 60%;
}
.card-image img{
    width: 100%;
    height: 100%;
    border-radius: 4px 4px 0px 0px;
}
/* Card one */
.b-card-sec .card-one{
    width:65%;
    height:510px;
    margin-bottom: 15px;
    background-color:rgb(238, 107, 47);
    float: left;
}
.b-card-sec p{
    width:75%;
    margin-top: 15px;
    color: black;
    font-size:1.2rem;
    text-align: left;
    text-wrap:wrap;
}
.b-card-sec .e-mild-image{
    width:190px;
    vertical-align: middle;
    position: relative;
    bottom:34px;
    left:70%;
}
.b-card-sec .card-one:hover{
    background-color: #DA471B;
    position: relative;
} 
/* card Two and Three */
.b-card-sec .card-two,.b-card-sec .card-three{
    width:32%;
    height:320px;
    background-color: #30a7d7;
    float: left;
    margin-left:15px ;
}
.b-card-sec .card-two:hover{
    background-color:#1B82B1 ;
}
.left-card.card-two{
    height:280px;
    margin:0px 1px;
    margin-top: -30px;
    background-color: rgb(77, 173, 91);
}
.left-card.card-two:hover{
    background-color: #369143;
}
.b-card-sec .card-three{
    margin-top:15px;
    height:150px;
    background-color: #E6BC30;
}
.card-three>.card-image{
    height: 20%;
}
.b-card-sec .card-three:hover{
    background-color: #DAA31C;
}

.left-card.card-three>.card-image{
    display: inline-block;
    width:40%;
    height: 100%;
}
.left-card.card-three>div:nth-child(2){
    display: inline-block;
    width: 57%;
    height: 100%;
    vertical-align: top;
}
/* card Four */
.b-card-sec .card-four{
    width: calc(64% /2);
    height:255px;
    background-color:rgb(255, 144, 196);
    float: left;
    clear:left;
    margin-right: 13px;
}
.b-card-sec .card-four:hover{
    background-color: #FF2A8E;
}
.card-four.left-card{
    clear: none;
    background-color: #1847D7;
}
.card-four.left-card:hover{ 
    background-color:#1B53BA;
}
/* featured Pokemon Section */
.featu-pokemon-sec{
    width: 100%;
    height: 480px;
    margin-top: 40px;
}
/* button */
.fea-button,.exp-button{
    width: 20%;
    height:50px;
    margin-left: 160px;
    border-radius: 10px 10px 0px 0px;
    background-color: #242223;
    font-size:1.3rem ;
    color:#918F91;
    text-align: center;
    padding: 6px 0px ;
    font-style: none;
}
.fea-button img{
    vertical-align:middle;
    width: 35px;
    margin-right: 5px;
}
/* featured cards body */
.featu-pokemon-body{
    width:100%;
    height:400px;
    background-color: #242223;
    text-align: center;
    position: relative;
}
.featu-pokemon-body:hover .arrows{
    display: block;
}
/* Arrows body */
.arrows{
    display: none;
    width: 80px;
    height: 100px;
    background-color:#424242;
    opacity: 0.5;
    border-radius: 10px;
    position:absolute;
    z-index: 1;
}
.arrows:hover{
    opacity: 1;
}
div.arrows:nth-child(1){
    left:4% ;
    top: 30%;
    background:no-repeat url(Images/slider-btns.png);
}
div.arrows:nth-child(2){
    right:4%;
    top: 30%;
    background:no-repeat url(Images/slider-btns.png);
    background-position:100% 100% ;
}

/* unactive card */
.f-card{
    display: inline-block;
    width:21.3%;
    height:100%;
    margin: 0px;
    vertical-align: top;
}
/* side cards */
.side-cards{
    width: 15%;
}
/* active card */
.f-card-active{
    display: inline-block;
    width:26%;
    height:110%;
}
/* image section of all card and active card*/
.image-sec{
    width: 100%;
    height: 240px;
    background-color:#606060 ;
}
.f-card-active .image-sec{
    background-color: #474747;
}
/* image of cards all card and active card and two side cards */
.f-card .image-sec img{
    width:230px;
    margin: 0px auto;
    opacity: 0.5;
}
.f-card-active>.image-sec>img{
    width: 85%;
    position: relative;
    bottom: 15%;
    z-index: 2;
    margin: 0px auto;
}
.f-card.side-cards:nth-child(1) img{
    position: relative;
    left: -20%;
}
.f-card.side-cards:last-child img{
    position: relative;
    width: 205px;
}
/* number heading in image section  of all card and lat card and active card*/
.f-card .image-sec h1,.f-card-active  h1{
    font-size: 4.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top:-220px;
    opacity: 0.2;
}
.f-card.side-cards:last-child h1{
    top: -200px;
}
.f-card-active h1{
    top: -275px;
    font-size: 6rem;
    color: white;
}
/* images  descrption section of all card and active cards*/
.f-card .image-descr{
    width: 100%;
    height:calc(100% - 240px) ;
    background-color: #2F2F2F;
}
.f-card-active .image-descr{
    width: 100%;
    height: calc(100% - 240px);
    background-color:#242223;
    border-radius:0px 0px 10px 10px;
}
/* font styling of all cards */
.image-descr{
    font-size: 1.7rem;
    color: white;
    padding: 30px 15px;
    text-align: left;
}
/* styling of active cards bottom part */
.image-descr span:nth-child(2){
    margin-left: 65%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.image-descr>div{
    margin-top:25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
}
.image-descr div>div {
    margin-bottom: 10px;
}
.image-descr div>div p{
    display: inline-block;
    width:100px;
}
.image-descr div>div div{
    display: inline-block;
}
.image-descr button{
    width: 70px;
    height:25px;
    color: white;
    background-color:#A38823;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
}
.image-descr button:nth-child(2){
    background-color:#FDD739;
    color: black;
}
/* explore more pokemon section */
.exp-pokemon-section{
    width: 73%;
    height: calc(100% - 830px - 480px - 55px);
    margin: 35px auto 0px auto;
}
/* Button */
.exp-button{
    width: 25%;
    height: fit-content;
    margin: 0px;
    padding:15px 0px;
    border-radius: 10px 10px 10px 10px;
    font-size: 1.2rem;
    color: white;
    position: relative;
    left: 75%;
}
/* Extra pokemon body card section */
.exp-pokemon-card-sec{
    width: 100%;
    height: calc(100% - 52px - 50px);
    background-color:white;
    border-radius: 0px 0px 5px  5px;
    position: relative;
    top: 43px;
}
/* ideal card setting with image and descrption section */
.exp-pokemon-cards{
    width:30%;
    height: 335px;
    float:left;
    margin: 5px 0px 20px 22px ;
}
.exp-pokemon-cards div.card-image{
    width: 100%;
    height: 160px;
    background-color: #1847D7;
    border-radius:5px 5px 0px 0px;
}

.exp-pokemon-cards div.image-descr{
    width: 100%;
    height: calc(100% - 150px);
    background-color: #383c49;
    border-radius: 0px 0px 5px 5px;
    padding: 20px;
    color: white;
    font-size: 0.9rem;
}
.exp-pokemon-card-sec p{
    margin-top: 10px;
    font-size: 1rem;
}
/* Large cards */
.exp-big-card{
    height: 390px;
}   
/* Card 1 */
.exp-pokemon-card-sec div:nth-child(1){
    position: relative;
    top: 5%;
}
.exp-pokemon-card-sec div:nth-child(1)>.image-descr{
    background-color:#B38AEA;
}
.exp-pokemon-card-sec div:nth-child(1) p{
    color:#4b1a8e ;
}
.exp-pokemon-card-sec div:nth-child(1)>.image-descr:hover{
    background-color:#975FE2;
}
/* Card 2 */
.exp-pokemon-card-sec div:nth-child(2){
    position: relative;
    top: 1%;
}
.exp-pokemon-card-sec div:nth-child(2)>.image-descr{
    background-color: #FF514F;
}
.exp-pokemon-card-sec>div:nth-child(2) p{
    color:#942d2b ;
}
.exp-pokemon-card-sec div:nth-child(2)>.image-descr:hover{
    background-color:#FF1F1C;
}
/* Card 3 */
.exp-pokemon-card-sec div:nth-child(3){
    position: relative;
    top: 3%;
}
.exp-pokemon-card-sec div:nth-child(3)>.image-descr{
    background-color: #e6bc2f;
}
.exp-pokemon-card-sec>div:nth-child(3) p{
    color:#212121;
}
.exp-pokemon-card-sec div:nth-child(3)>.image-descr:hover{
    background-color:#DAA31C;
}
/* Card 4 */
.exp-pokemon-card-sec div:nth-child(4){
    position: relative;
    top: -1%;
    clear: left;
}
.exp-pokemon-card-sec div:nth-child(4)>.image-descr{
    background-color: #4dad5b;
}
.exp-pokemon-card-sec>div:nth-child(4) p{
    color:#305736;
}
.exp-pokemon-card-sec>div:nth-child() p{
    color:#ccc;
}
.exp-pokemon-card-sec div:nth-child(4)>.image-descr:hover{
    background-color:#369143;
}
/* item 5 */
.exp-pokemon-card-sec .exp-card-text{
    width: 250px;
    height:80px;
    position: relative;
    left: 2%;
    top: 2%;
    float: left;
}
.exp-pokemon-card-sec div:nth-child(5)>p{
    font-size: 2rem;
    color: grey;
    font-family:'Arial Narrow', Arial, sans-serif
}
/* Card 5*/
.exp-pokemon-card-sec div:nth-child(6){
    position: relative;
    right: 26.5%;
    top: 8%;
}
.exp-pokemon-card-sec div:nth-child(6)>.image-descr{
    background-color:#313131;
}
.exp-pokemon-card-sec>div:nth-child(6) p{
    color:#ccc;
}
.exp-pokemon-card-sec div:nth-child(6)>.image-descr:hover{
    background-color:#282828;
}
/* Card 6 */
.exp-pokemon-card-sec div:nth-child(7){
    position: relative;
    left: 64.5%;
    top: -44%;
}
.exp-pokemon-card-sec div:nth-child(7)>.image-descr{
    background-color: #1b53ba;
}
.exp-pokemon-card-sec>div:nth-child(7) p{
    color:#30a7d7;
}
.exp-pokemon-card-sec div:nth-child(7)>.image-descr:hover{
    background-color:#1847D7;
}
/* Card 7 */
.exp-pokemon-card-sec div.exp-s-small-card{
    width:280px;
    height:140px;
    float: left;
    position: relative;
    left: 34.5%;
    top:-1%;
    color: white;
    font-size: 1rem;
}
div.exp-s-small-card>.card-image,div.exp-s-small-card>.image-descr{
    width:100%;
    height:50%;
    position: static;
    padding: 20px 0px 0px 10px;
}
div.exp-s-small-card>.card-image{
    background-color: #ee6b2f;
    border-radius: 5px 5px 0px 0px;
}
.exp-pokemon-card-sec div:nth-child(8)>.image-descr{
    border-radius: 0px 0px 5px 5px;
    background-color:#30a7d7;
}
.exp-pokemon-card-sec div:nth-child(8) p{
    color:black;
    margin-top: 0px;
}

.exp-pokemon-card-sec div:nth-child(8)>.image-descr:hover{
    background-color:#1b82b1;
}
.exp-pokemon-card-sec>div:hover:not(.exp-card-text){
    transform: translateY(-6px); /* Move the card 1px upwards on hover */
    transition: transform 0.5s ease;
}
/* Footer */
footer{
    width: 100%;
    height: 585px;
    background-color:#1F1F1F;
    padding:5% 20% 1% 20%;
}
/* Form body and bottom nav-bar */
.form-body,.b-nav-bar{
    width: 100%;
    height: 50%;
    text-align: center;
}
/* form body div partition*/
.form-body>form{
    width: 100%;
    height: 100%;
    text-align: left;
}
form>div,.b-nav-bar>div{
    display: inline-block;
    width: 49.5%;
    height: 100%;
    margin-left: -32%;
    vertical-align: top;
    color: white;
}
/* For first div of the form*/
form h1{
    font-size: 1.8rem;
    margin-bottom: 15px;
}
div>.form-control:nth-child(2){
    width: 100%; 
}
div>.form-control,form>button{
    width:49%;
    height:50px;
    margin-bottom: 15px;
    background-color: white;
    color: grey;
    border: none;
    padding-left: 10px;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 5px;
}
form> button{
    position: relative;
    bottom:27%;
    width: 30%;
    height: 60px;
    background-color: grey;
    color: white;
}
/* For the second Child of the form */
.form-permissions{
    margin: 0;
    padding-left: 20px;
    font-size:1rem;
    text-decoration: none ;
}
.form-permissions>p{
    font-size:1.3rem  ;
    margin: 20px 0px 15px 0px;
}
.form-permissions>div{
    margin-top:10px;
}
.form-permissions>div:nth-child(4) a{
    color: white;

}
/* Hide the default checkbox */
.form-permissions  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    background-color: #7c7c7c;
    vertical-align:top;
    margin:0px 5px 10px 0px;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    padding-top: 2px;
}
/* for Icon */
input[type="checkbox"]:after{
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    font-size: 20px;
    content:"\f00c";
    color: white;
    display: none;
}
input[type="checkbox"]:hover{
    background-color: #474747;
}
input[type="checkbox"]:checked{
    background-color:#4DAD5B;
}
input[type="checkbox"]:checked::after{
    display: block;
}
/* Bottom nav bar div partion */
.b-nav-bar{
    margin-top: 15px;
}
.b-nav-bar>div{
    width:33%;
    margin:0px;
    text-align: left;
}
/* Webpages links */
.weblinks>ul{
    list-style: none;
    margin-top: 5px;
}
.weblinks li{
    margin-bottom:7px;
}
.weblinks li:hover{
    text-decoration: underline;
}
    /* Social Links */
.b-nav-bar>div:nth-child(2){
    border: 2px solid grey;
    border-width: 0px 1px 0px 1px;

    text-align: center;
}
.social-links li{
    display: inline-block;
    height: 35px;
    width: 35px;
    margin-right: 5px;
    background:no-repeat url(Images/social-icons.png);
}
.social-links ul>li:nth-child(2){
    background-position:28.5%  ;
}
.social-links ul>li:nth-child(3){
    background-position: 71.5%  ;
}
.social-links ul>li:nth-child(4){
    background-position:86%  ;
}

.social-links ul>li:nth-child(5){
    background-position:100%  ;
}
/*  Policies Section */
.b-nav-bar>div:nth-child(3){
    padding-left: 30px;
    font-size: 0.8rem;
}
.b-nav-bar>div:nth-child(3) .weblinks>ul>li:nth-child(7):hover{
    text-decoration: none;
    cursor:auto
    ;
}